<!DOCTYPE HTML>
<html>
<head>
  <title>Sign up - New</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!--5grid--><script src="javascripts/viewport.js"></script><!--[if lt IE 9]>
   <script src="javascripts/ie.js"></script><![endif]-->
  <!--5grid--><script src="javascripts/viewport.js"></script><!--[if lt IE 9]>
<script src="javascripts/ie.js"></script><![endif]-->
  <link rel="stylesheet" href="stylesheets/responsive.css" /><!--/5grid-->
  <link rel="stylesheet" href="stylesheets/style.css" />

  <script>
      $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                      $('html,body').animate({
                          scrollTop: target.offset().top
                      }, 1000);
                      return false;
                  }
              }
          });
      });
  </script>

</head>
<body>

<!-- Header -->
<div id="header-wrapper">
  <header id="header" class="5grid">
    <div class="12u-first">

      <!-- Logo -->
      <h1>
        <a href="#">
        <img src="images/scalene logo web.png" width="250" height="110" alt=""/>
      </a>
      </h1>
    </div>
  </header>
  <div id="banner">
    <div class="5grid 5grid-alt">
      <div class="6u-first">

        <!-- Banner Copy -->
        <p>Hey there, <br>
          Can you image a world of self-driving electric bikes? </p>
        <a href="#signup_box" class="button-big">Now You Can</a>

      </div>
      <div class="6u">

        <!-- Banner Image -->
        <a href="#" class="bordered-feature-image">
          <img src="images/banner 1.jpg" width="568" height="191" alt=""/></a>
      </div>
      <div class="5grid-clear"></div>
    </div>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <div id="features">
    <div class="5grid">
      <div class="3u-first">
        <!-- Feature #1 -->
        <section>
          <a href="#" class="bordered-feature-image"><img src="images/image 2.jpg" alt="" /></a>
          <h2>The Cykela is revealed</h2>
          <p>
            One of the most ambitious products Scalene has introduced in this space to date.  The Cykela is a lightweight prototype electric bike. The key elements: self-driving for enhanced cyclist safety.
            Scalene is laying claim to being at the forefront of autonomous technology beyond four wheeled vehicles.
          </p>
        </section>
      </div>
      <div class="3u">
        <section>
          <a href="#" class="bordered-feature-image"><img src="images/image 3.jpg" width="262" height="110" alt=""/></a>
          <h2>What's the Cykela capable of?</h2>
          <p>
            <strong>Blog:</strong> As an avid biker, this futuristic design is ideal for my commuting, jumping and stunt-riding. Light enough to carry, carbon-fiber and a smartphone app control system.
          </p>
        </section>
      </div>
      <div class="3u">

        <!-- Feature #3 -->
        <section>
          <a href="#" class="bordered-feature-image"><img src="images/image 4.jpg" width="262" height="110" alt=""/></a>
          <h2>The world’s safest brand</h2>
          <p>
            <strong>Blog:</strong> Dozens of car manufactures are exploring self-driving. Why not e-bikes? Adaptive cruise control, blind spot detection, lane assist can help cyclists watch out for crazy drivers and help you react. Oh, and look cool while staying safe.
          </p>
        </section>

      </div>
      <div class="3u">

        <!-- Feature #4 -->
        <section>
          <a href="#" class="bordered-feature-image"><img src="images/image 5.jpg" width="262" height="110" alt=""/></a>
          <h2>Tackling the perceived high price</h2>
          <p>
            <strong>Blog:</strong> Cykelas are high quality and affordable. Look at the long term impact on your wallets and savings on parking alone in the first year. You avoid the skyrocketing prices of car maintenance, even motor vehicle insurance. The only charge you’ll worry about ... the battery.
          </p>
        </section>

      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div id="content-wrapper">
  <div id="content">
    <div class="5grid">
      <div class="4u-first">

        <!-- Box #1 -->
        <section>
          <header>
            <h2>Scalene’s Gear Guide</h2>
          </header>
          <a href="#" class="feature-image"><img src="images/image 6.png" width="324" height="126" alt=""/></a>
          <p>
            Eliminate the search and stress of finding all weather gear and the latest tech to boost your bike. Scalene has it all. The functional design of the Cykela scales from toddler to adult.
            We have the kits to match your life no matter where the family adventures take you.
          </p>
        </section>

      </div>
      <div class="4u">

        <!-- Box #2 -->
        <section>
          <header>
            <h2>Sleek. Smart. Safe.</h2>
            <h3>Adventure awaits</h3>
          </header>
          <ul class="check-list">
            <li>Full suspension carbon fiber frame</li>
            <li>Lightweight, quick change battery</li>
            <li>Transformable handlebars and seat for three ride modes</li>
            <li>Biometric sensors gather over 350GB of data</li>
            <li>Intuitive and integrated automated controls without compromising aesthetics</li>
          </ul>
        </section>

      </div>
      <div class="4u">

        <!-- Box #3 -->
        <section>
          <header>
            <h2>Don't believe us?</h2>
            <h3>Hear it from the distinguished riders</h3>
          </header>

          <ul class="quote-list">
            <li> <img src="images/image 7.jpg" width="70" height="70" alt=""/>

              <p>"Sleek and smartphone-centric. What's not to love?"</p>
              <span>John Doe, Product Engineer</span></li>
            <li>
              <img src="images/image 8.jpg" alt="" />
              <p>"I haul my bikes up the mountain for a thrill ride down, this model fits snuggly onto my back harness!"</p>
              <span>Jeffrey Maguire, dad and BMX fan</span>
            </li>
            <li>
              <img src="images/image 9.jpg" width="70" height="70" alt=""/>
              <p>"I sold my car and bought the Cykela. Life change for the better."</p>
              <span>Jesse Van Nostrand, Corporate Commuter</span>
            </li>
          </ul>
        </section>

      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<style type="text/css">
    #signup_box {width: 200%; border: dashed red medium;}
    .center {text-align: center;}
    .red {color: red;}
    .red {color: red; font-size: 24px;}
    #email_address {background-color: white; padding: 10px; margin: 10px; height: 20px;}
</style>
<div id="footer-wrapper">
  <footer id="footer" class="5grid">

    <div class="12u-first center red">
      <!-- Links -->
      <section>
        <h2>Get a FREE month-long test ride of Scalene's latest electric bicycle</h2>
      </section>
    </div>
    <div class="6u-first center red">
      <!-- Links -->
      <section>
        <div id="signup_box">
          <div>
            <br>
            <%= form_tag('/registers') do -%>
              <h3 class="red">Sleek. Smart. Safe. Adventure Awaits!</h3>
              <h3>Newbies and experienced riders alike.</h3>
              <br>
              <p><label for="header_email">Email Address</label><i class="ico-email"></i>
                <input type="text" name="email_address" id="email_address" value="" /></p>
                <%= submit_tag 'Submit', :class=> "button-big" %>
            <% end -%>
            <br>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>

<!-- Copyright -->
<div id="copyright">
  (c) 2015 Scalene.com Website. All rights reserved HPE.
  <br> By clicking SUBMIT you accept Scalene's Terms of Entry
</div>

</body>
</html>